.about-section { 
    margin-top: 70px;
    padding: 80px 10%; 
    background-color: #191919;
    color:white;
}

@media (max-width: 576px) {
    .about-section {
        margin-top: 50px;
    }
}

.about-container { 
    display: flex; 
    align-items: center; 
    gap: 50px; 
    max-width: 1200px; margin: 0 auto; 
}

.about-image, .about-content { 
    flex: 1; 
}
.about-image img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
}

.tag { 
    color: #007bff; 
    font-weight: 700; 
    text-transform: uppercase; 
}


h2 { 
    font-size: 36px; 
    margin: 10px 0 20px; 
}


.btn-learn-more { 
    display: inline-block; 
    padding: 12px 30px; 
    margin-top: 20px;
    background-color: #007bff; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; 
}

@media (max-width: 768px) {
    .about-container { 
        flex-direction: column; 
        text-align: center; 
    }
}
